/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  color: #314d5d;
  background-color: #000;
}

a {
  color: #de5b48;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

.filter{
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: inline-block;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

.color_light_btn {
  position: absolute;
  z-index: 100;
  bottom: 33px;
  right: 25px;
  width: 25px;
  height: 25px;
  cursor:pointer;
  opacity: 0.6;

  background: #ecf0f5;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border-style: solid;
  border-color: #9fb3cc;
  border-width: 3px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.color_light_btn:hover {
  border-color: #c0cdde;
  opacity: 1;
}

.color_dark_btn {
  display: none;
}

.fullscreen_btn {
position: fixed;
z-index: 3;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

header {
  height: 80px;
  position: relative;
  padding-top: 40px;
}

header h1 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.content {
  position: relative;
  text-align: center;
  width: 100%;
  margin: : 0 auto;
  height: 100%;
  font-size: 250%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;
}

.time {
  font-size: 150%;
}

.time > span {
  display: inline-block;
  width: .55em;
  text-align: center;
}

.date {
  font-size: 60%;
}

#message-remind{
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 20%;
  margin: : 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #999;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 24px;
  overflow: auto;

  -webkit-animation: fadeOut 2s forwards;
  animation: fadeOut 2s forwards;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

  @media only screen and (min-width: 500px){
  .time {font-size: 250%;}
  .date {font-size: 100%;}
  }

  @media only screen and (min-width: 768px){
  .time {font-size: 250%;}
  .date {font-size: 100%;}
  }

  @media only screen and (min-width: 1300px){
  .time {font-size: 250%;}
  .date {font-size: 100%;}
  .fullscreen_btn {display: initial;}
  .color_light_btn {right: 40px;}
  .color_dark_btn {display: none; right: 40px;}
  }

}